body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background: linear-gradient(to right, #b33a3a, #ff7f50);
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #5a3511; /* Tomato color for headings */
}

div.container {
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr) );
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
}

div.container .box {
    margin: 20px auto 0;
    width: 90%;
    font-size: 25px;
    color: #008080; /* Teal color for subtitles */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto;
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Round the corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add a box shadow */
    background-color: #fff; /* Add a background color */
}

strong {
    font-size: 25px;
    text-align: center;
    color: #008080; /* Teal color for subtitles */
}

div.container .description {
    list-style-type: square;
    color: #4B0082; /* Indigo color for descriptions */
}

.description li {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}